{% extends 'base.html' %}

{% block title %} SignUp | {{block.super}} {% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'index' %}">Boards</a>
</li>
<li class="breadcrumb-item active">Signup</li>
{% endblock %} 

{% block content %}

<section id="signup">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h2>Register Now</h2>
                    <form method='post'>
                        {% csrf_token %}
                        {% include 'includes/forms.html' %}
                        <button type="submit" class="btn btn-danger w-100">Register</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    <p>Already Registered ? <a href="#">LoginIn</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}