{% extends 'base.html' %}

{% block title %}
Password Changed | {{block.super}}
{% endblock %}

{% block content %}

<section id="password_changed">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h2>Password Changed</h2>
                    <div class="alert alert-success" role="alert">
                        Your password has been successfully changed. You may login now.
                    </div>
                    <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to LogIn</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}